body{font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
section{
    margin-bottom: 100px;
}
.nav-ber{
    width: 85%;
    margin: auto;
    height: 2px;
    padding:35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.logo{
    width: 50px;
    cursor: pointer;
    border-radius: 80px;
    margin-top: 10px;
    margin-left: -2px;
    
}
.nav-ber ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.nav-ber ul li a{
    text-decoration: none;
    color: tomato;
    text-transform: uppercase;
}
.nav-ber ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background-color: tomato ;
    position:absolute;
    left: 0px;
    bottom: -10px;
    transition: 0.6s;
}
.nav-ber ul li:hover::after{
    width: 100%;
}
h1{
    font-size: 50px;
    color: gray;
}
.color{
    color: gray;
    padding-bottom: 5%;
    
}

.tomato-color{
    color: tomato;
}
.display-felx{
    display: flex;
}
.padding-width{
    width: 50%;
    padding-left: 5%;
}
.padding-width img{
    width: 80%;

}

#margin{
    padding-top: 5%;
}
.order-button{
    color:white;
    text-decoration: none;
    background-image: linear-gradient(to left,tomato, rgb(219, 125, 17));
    padding: 10px 20px;
    border-radius: 20px;
}
#background-img{
    background-image:url(images/female/bg-img.png);
    background-repeat: no-repeat;
    margin-top: 5%;
    padding-top: 120px;
    
}
.right{
    width: 50%;
    margin-left: auto;
    padding: 100px 0px;
}

.right h1{
    font-size: 30px;
}
.right p{
    padding-bottom: 5%;
    padding-right: 20%;
}
.contact-button{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(to left,tomato, rgb(219, 125, 17));
    padding: 13px 32px;
    margin-top: 5%;
    border-radius: 20px ;

}
#felx{
    display:flex;
}
.my-recipie img{
    width: 100% ;
    border-radius: 20px;
}
.my-recipie{
    margin: 20px;
    padding: 20px;
    width: 33%;
    box-shadow: 0 0 10px #0000004d;
    border-radius:20px;
}
.title{
    text-align: center;
    width:500px;
    margin: 20px auto;
}
footer{
    color: white;
    
    text-align: center;
    font-size: 20px ;
    background-color: black;
    padding: 20px;
    margin: 20px auto ;
}
footer p{
    padding: 10px 40px;
    font-size: 13px;
}

